<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('https://i.pinimg.com/564x/e1/34/f8/e134f88f2062d1a9bc9374f44c64e6e1.jpg');
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .container {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: 20px;
            margin: 10cm auto 0; /* Add 5cm margin from the top */
            max-width: 400px;
            text-align: center;
        }

        h2 {
            font-size: 36px;
            color: #333;
            margin: 0;
        }

        .logout-button {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            background-color: #3498db;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            font-size: 18px;
            transition: background-color 0.3s ease;
        }

        .logout-button:hover {
            background-color: #2980b9;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Welcome to WikiDash</h2>
        <a href="signup" class="logout-button">Sign Up</a>
        <a href="login" class="logout-button">Login</a>
    </div>
</body>
</html>
